<h1>Dear admin</h1>
<p>
  There is a new registared student wating for your approval. 
  <b>First Name:<b> <%= @student_info.student.first_name %>
  <b>Last Name:<b> <%= @student_info.student.last_name %>
  <b>Reg N<sup>0</sup>:
</p>
<p>
  To see all pending student registration, <%= @url %>.
</p>
<p>Thanks for joining and have a great day!</p>