<div class="panel col-md-offset-2">

<h2 class="text-center">Commission Details</h2>
<div class="panel-heading" style="background-color: #0b56a8;">
  <h3 class="panel-title" style="color: white;">All Levels</h3>
  <span class="pull-right">
    <!-- Tabs -->
    <ul class="nav panel-tabs">
      <li class="active"><a href="#col1" data-toggle="tab">Level 1</a></li>
      <li><a href="#col2" data-toggle="tab">Level 2</a></li>
      <li><a href="#col3" data-toggle="tab">Level 3</a></li>
      <li><a href="#col4" data-toggle="tab">Level 4</a></li>
      <li><a href="#col5" data-toggle="tab">Level 5</a></li>
    </ul>
  </span>
</div>
<div class="panel-body">
  <div class="tab-content">
    <div class="tab-pane active" id="col1">

      Level 1 Summary:
      

      <h2>List Students</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Program</th>
            <th>District</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Will Smith</td>
            <td>Web Design</td>
            <td>Musanze</td>
            <td>27/07/2017</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="tab-pane" id="col2">

      Level 2 Summary:
      

      <h2>List Students</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Program</th>
            <th>District</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Will Smith</td>
            <td>Web Design</td>
            <td>Musanze</td>
            <td>27/07/2017</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="tab-pane" id="col3">

      Level 3 Summary:
      

      <h2>List Students</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Program</th>
            <th>District</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Will Smith</td>
            <td>Web Design</td>
            <td>Musanze</td>
            <td>27/07/2017</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="tab-pane" id="col4">

      Level 4 Summary:
      

      <h2>List Students</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Program</th>
            <th>District</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Will Smith</td>
            <td>Web Design</td>
            <td>Musanze</td>
            <td>27/07/2017</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="tab-pane" id="col5">

      Level 5 Summary:
      

      <h2>List Students</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Program</th>
            <th>District</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Will Smith</td>
            <td>Web Design</td>
            <td>Musanze</td>
            <td>27/07/2017</td>
          </tr>
        </tbody>
      </table>

  <div class="panel-heading" style="background-color: #0b56a8;">
    <h3 class="panel-title" style="color: white;">All Levels</h3>
    <span class="pull-right">
      <!-- Tabs -->
      <ul class="nav panel-tabs">
        <li class="active"><a href="#col1" data-toggle="tab">Level 1</a></li>
        <li><a href="#col2" data-toggle="tab">Level 2</a></li>
        <li><a href="#col3" data-toggle="tab">Level 3</a></li>
        <li><a href="#col4" data-toggle="tab">Level 4</a></li>
        <li><a href="#col5" data-toggle="tab">Level 5</a></li>
      </ul>
    </span>
  </div>
  <div class="panel-body">
    <div class="tab-content">
      <div class="tab-pane active" id="col1">
      Level 1 Registered students
      <hr>
      <p>Name - Program -School fees -  Bonus - Sponsor - Date </p>
      </div>
      <div class="tab-pane" id="col2">
      Level 2 registered students
      <hr>
      <p>Name - Program - Bonus - Sponsor - Date </p>
      </div>
      <div class="tab-pane" id="col3">
      Level 3 registered students
      <hr>
      <p>Name - Program - Bonus - Sponsor - Date </p>
      </div>
      <div class="tab-pane" id="col4">
      Level 4 registered students
      <hr>
      <p>Name - Program - Bonus - Sponsor - Date </p>
      </div>
      <div class="tab-pane" id="col5">
      Level 5 registered students
      <hr>
      <p>Name - Program - Bonus - Sponsor - Date </p>
      </div>

    </div>
  </div>
</div>