<script type="text/javascript" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>

<div class="container-fluid">
<div class="col-md-4 clientes">
    <div class="clientes-content">
      <div class="content-title">
            <span>Registered Students</span>
      </div>
        <div class="number"><span>23k.4</span></div>
        <div class="line">
            <div class="line-1"></div>
            <div class="line-2"></div>
        </div>
        <div class="analysis">
            <div class="quote"></div>
            <a href="#" class="see-more">View All<span class="glyphicon glyphicon-circle-arrow-right"></span></a>
        </div>
    </div>
  </div>
  
  <div class="col-md-4 concorrentes">
    <div class="concorrentes-content">
        <div class="content-title">
            <!-- <img src="http://i.imgur.com/sB8qSlb.jpg" alt="Potênciais Concorrentes"> -->
            <span>Pending Applications</span>
      </div>
        <div class="number"><span>150</span></div>
        <div class="line">
            <div class="line-1"></div>
            <div class="line-2"></div>
        </div>
        <div class="analysis">
            <div class="quote"></div>
            <a href="#" class="see-more">View Profile<span class="glyphicon glyphicon-circle-arrow-right"></span></a>
        </div>

    <div class="row" id="admintable">

        <h2>Admin Dashboard</h2>
        <table class="table table-bordered" id="test">
        <thead>
            <tr><th>First Name</th>
                <th>Last Name</th>
                <th>Country</th>
                <th>Program</th>
                <th>Course</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Peter</td>
                <td>Mucyo</td>
                <td>Rwanda</td>
                <td>Tech </td>
                <td>Coding</td>
            </tr>
            <tr>
                <td>Teo</td>
                <td>Muhire</td>
                <td>Kenya</td>
                <td>Tech </td>
                <td>SPSS</td>
            </tr>
            <tr>
             <tr>
                <td>Jane</td>
                <td>Rutamu</td>
                <td>Uganda</td>
                <td>Music</td>
                <td>Piano</td>
            </tr>
             <tr>
                <td>Andre</td>
                <td>Kamali</td>
                <td>Rwanda</td>
                <td>English </td>
                <td>Writing and Reading</td>
            </tr>
             <tr>
                <td>Claire</td>
                <td>Keza</td>
                <td>Kenya</td>
                <td>Tech </td>
                <td>Graphic Design</td>
            </tr>
        </tbody>
        </table>
        
    </div>
    </div>
</div>






     
    
  
  
