<!DOCTYPE html>
<html>
<head>
<style>

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; 
}

.tablink {
    background-color: #555;
   color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 13px;
    width: 33.3%;
}
.tablink:hover {
    background-color: #777;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 60px 40px;
    text-align: left;
}

#students {background-color:#0099ff;}
#pending {background-color:#0099ff;}
#agents {background-color:#0099ff;}



</style>
<title>KIAC STUREGIC | Administration </title>
</head>
<body>
<button class="tablink" onclick="openCity('students', this, '#0099ff')" id="defaultOpen"><center><font face="Georgia"><img src="http://res.cloudinary.com/dopbrlrts/image/upload/v1505468331/approved_yzrdvw.png" width="40" height="40" border="0" alt=""><br>Approved Students List</font></button>
<button class="tablink" onclick="openCity('pending', this, '#0099ff')"><font face="Georgia"><img src="http://res.cloudinary.com/dopbrlrts/image/upload/v1505468333/pending_ertiez.png" width="40" height="40" border="0" alt=""><br>Pending Students List</font></button>
<button class="tablink" onclick="openCity('agents', this, '#0099ff')"><font face="Georgia"><img src="http://res.cloudinary.com/dopbrlrts/image/upload/v1505468335/users-icon_smbsft.png" width="40" height="40" border="0" alt=""><br>Agents List</font> </button></center>


<div id="students" class="tabcontent">
    <center><h1>STUDENTS TAB CONTENT</h1></center>
    <%= render "approved_students" %>
</div>

<div id="pending" class="tabcontent">
    <center>
    <h1>PENDING TAB CONTENT</h1>
    <%= render "pending_students" %>
    </center>
</div>

<div id="agents" class="tabcontent">

    <center><h1>AGENTS TAB CONTENT</h1></center>
    <%= render "agentAdminMarketer" %>
</div>
<script>
function openCity(cityName,elmnt,color) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "";
    }
    document.getElementById(cityName).style.display = "block";
    elmnt.style.backgroundColor = color;

}
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

</body>
</html> 