<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<script type="text/javascript" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<div class="container">
<div class="row" id="admintable">
    <h2>Monthly Payment Archive</h2>
    <table class="table table-bordered" id="test">
        <thead>
            <tr><th>Names</th>
                <th>Tel</th>
                <th>Reg N<sup>0</sup></th>
                <th>Country</th>
                <th>District</th>
                <th>Tech</th>
                <th>Course</th>
                <th>Status</th>  
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Peter</td>
                <td>Mucyo</td>
                <td>Rwanda</td>
                <td>Gasabo</td>
                <td>Tech </td>
                <td>Coding</td>
                <td>Approved</td>
            </tr>
        </tbody>
    </table>

</div>
  </div>  

</div>
</div>












