<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 col-xs-12 thumbnail application-box">
    <h1 class="text-center application-header"><strong>Application Form: Final Step</strong></h1>
    <div class="col-md-12 thumbnail info-box">
      <div class="col-md-3"></div>
      <div class="col-md-6 col-xs-12">
        <div class="text-center">
          <h2 class="text-center application-header">Student's Location</h2>
          <hr>
          <div class="form-group">                   
            <select name="" class="select-form-input">
              <option value="" disabled selected >Country</option>
              <option value="">Rwanda</option>             
              <option value="">Burundi</option>
              <option value="">Uganda</option>
              <option value="">Kenya</option>
              <option value="">Tanzania</option>
            </select>
          </div> 
          <div class="form-group">                   
            <select name="" class="select-form-input">
              <option value="" disabled selected >Province</option>              
              <option value="">Kigali City</option>
              <option value="">North</option>
              <option value="">East</option>
              <option value="">South</option>
              <option value="">West</option>
            </select>
          </div>     
          
          <div class="form-group">                
            <select name="" class="select-form-input">
              <option value="" disabled selected>District</option>              
              <option value="">Gasabo</option>
              <option value="">Kicukiro</option>
              <option value="">Nyarugenge</option>
            </select>   
          </div>

          <br>
          <h2 class="text-center application-header">Program Preference</h2>
          <hr>
          
          <div class="form-group">                   
            <select name="" class="select-form-input">
              <option value="" disabled selected >Program Type</option>
              <option value="">Technical Prgrams</option>
              <option value="">Other Programs</option>          
            </select>
          </div> 
          <div class="form-group">                   
            <select name="" class="select-form-input">
              <option value="" disabled selected >Programs</option>              
              <option value=""><strong>Technical program Course</strong> - price </option>
              <option value=""><strong>Digital traffic rules</strong> - price </option>
              <option value=""><strong>English</strong> - price </option>
            </select>
          </div>     
          
          <p>Upload Receipt:</p>
          <input class="btn" type="file" value="Upload Receipt" title="Make sure all fields are filled">

          <br>
          <h2 class="text-center application-header">Sponsor's Information</h2>
          <hr>

          <input class="form-control application-input" type="" name="" placeholder="First Name ...">
          <input class="form-control application-input" type="" name="" placeholder="Last Name ...">
          <input class="form-control application-input" type="" name="" placeholder="Username ...">
          
          <input class="form-control application-input" type="" name="" placeholder="Registration number...">
          

          <div class="btn-group application-input">
            <a href="" class="btn btn-grp-application">Save</a>
            <a href="" class="btn btn-grp-application">Edit</a>
          </div>

          <input class="btn btn-submit application-input" type="submit" value="Submit Application" title="Make sure all fields are filled">
          <hr>
          <p>You will receive an email, if your are successfully enrolled in the program</p>
        </div>
      </div>
    </div>
  </div>
</div>