<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 col-xs-12 thumbnail application-box">
    <h1 class="text-center application-header"><strong>Application Form: Step 1</strong></h1>
    <div class="col-md-12 thumbnail info-box">
      <div class="col-md-3"></div>
      <div class="col-md-6 col-xs-12">
        <div class="text-center">
          <h3 class="text-center application-header"><strong>Student's Information</strong></h3>
          <hr>
          <input class="form-control application-input" type="" name="" placeholder="First Name ...">
          <input class="form-control application-input" type="" name="" placeholder="Last Name ...">
          <input class="form-control application-input" type="" name="" placeholder="Preferred Username ...">
          <input class="form-control application-input" type="" name="" placeholder="ID/Passport number ...">
          
          <input class="form-control application-input" type="" name="" placeholder="Email...">
          <input class="form-control application-input" type="" name="" placeholder="Phone Number ...">
          <div class="form-group">                   
            <select name="" class="select-form-input">
              <option value="" disabled selected >Education Level</option>
              <option value="">Master's</option>             
              <option value="">Bachelor's</option>
              <option value="">High School</option>
              <option value="">O'level</option>
              <option value="">Primary</option>
              <option value="">None</option>
            </select>
          </div> 
          <div class="form-group">                   
            <select name="" class="select-form-input">
              <option value="" disabled selected >Gender</option>              
              <option value="">Male</option>
              <option value="">Female</option>
            </select>
          </div>     
          
          <div class="form-group">                
            <select name="" class="select-form-input">
              <option value="" disabled selected>Martial Status</option>              
              <option value="">Single</option>
              <option value="">Married</option>
              <option value="">Divorced</option>
            </select>   
          </div>
          <input class="btn btn-submit application-input" type="submit" value="Send">
          <hr>
          <p>Check your email inbox after clicking send to confirm and continue the application</p>
        </div>
      </div>
    </div>
  </div>
</div>