<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

<script type="text/javascript" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>

<div class="container">

<div class="row" id="admintable">
    <h2>Monthly Payment Archive</h2>
    <table class="table table-bordered" id="test">
        <thead>
            <tr><th>Names</th>
                <th>Country</th>
                <th>District</th>
                <th>Tel</th>
                <th>Reg N<sup>0</sup></th>
                <th>Bank</th>
                <th>Bank Account</th>
                <th>Amount</th>
                <th>Month</th>  
                <th>Registrar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Berry Umuhire</td>
                <td>Uganda</td>
                <th>-</th>
                <td>0781622322</td>
                <td>UG003/KIAC/2017</td>
                <td>BK</td>
                <td>000123456788</td>
                <td>$2</td>
                <td>Aug 2017</td>
                <td>Luc Abayo </td>
            </tr>
            <tr>
               <td>Luc Abayo </td>
               <td>Rwanda</td>
               <td>Gasabo</td>
               <td>0722139797</td>
               <td>RW002/KIAC/2017</td>
               <td>KCB</td>
               <td>0001267889</td>
               <td>Rwf 7000</td>
               <td>Aug 2017</td>
               <td>Joseph Mugwaneza</td> 
            </tr>
        </tbody>
    </table>

</div>
  </div>  

</div>
</div>












