<div class="container">
<div class="login-container">
  <div id="output"></div>
  <div class="avatar"></div>
  <div class="form-box">
  <%= form_for sessions_path do |f| %>
    <%= f.text_field :email, placeholder: "email", required: "required", type:"email" %>
    <%= f.password_field :password, placeholder: "password", required: "required"%>
    <%= f.submit value:"Login", class: "btn btn-info btn-block login", style:"color: #441E95;"%>
    <% end %>               
  </div>
  </div>     
</div>