  <h4> Hi <%= @user.username%></h4>
 
  <p>
    Thanks for registration! To confirm your registration click the Url below.
  </p><br>
  <p>
    <%= student_infos_new_confirm_email_url(@user.confirm_token) %>
  </p>

    