<script type="text/javascript" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>

<div class="container">  
    <h2 class="text-center" style="color: white;">All Users</h2>
    <hr>
  <div class="thumbnail">
    <table class="table table-hover" id="test">
      <thead class="thead">

        <tr>
          <th>N<sup>o</sup></th>
          <th>Name</th>
          <th>Country</th>
          <th>District/City</th>
          <th>Regitered Date</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>1</td>
          <td>Jean Luc</td>
          <td>Uganda</td>
          <td>Kampala</td>
          <td>31 July, 2017</td>
          <td>
            <div class="form-group">                   
              <select name="" class="select-form-input">
                <!-- <option value="" disabled selected >Select</option> -->
                <option value="">Student</option>             
                <option value="">Agent</option>
                <option value="">Admin</option>
              </select>
            </div>
          </td>
        </tr>

         <tr>
          <td>2</td>
          <td>Muta Nara</td>
          <td>Uganda</td>
          <td>Kampala</td>
          <td>31 July, 2017</td>
          <td>
            <div class="form-group">                   
              <select name="" class="select-form-input">
                <option value="" disabled selected >Select</option>
                <option value="">Student</option>             
                <option value="">Agent</option>
                <option value="">Admin</option>
              </select>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>