<!DOCTYPE html>
<html>
<head>
<style>
/**/
.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
/*body {font-family: "Lato", sans-serif;}*/
.tablink {
    background-color: #555;
   color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 13px;
    width: 20%;
}
.tablink:hover {
    background-color: #777;
}

/* Style the tab content */
.tabcontent {
   /* color: white;*/
    display: none;
    padding: 40px 40px;
    text-align: left;
}

#London {background-color:#0099ff;}
#Paris {background-color:#0099ff;}
#Tokyo {background-color:#0099ff;}
#Oslo {background-color:#0099ff;}
#Drc {background-color:#0099ff;}
#<%= @country.name if @country%> {
  background-color: #0099ff;
}
select {
    width: 100%;
}

</style>
<title>KIAC STUREGIC - Student Information From</title>
<link rel="shortcut icon" href="icon.png" type="image/x-icon">
</head>
<body>
<a href="/signup?country_id=1"  class="tablink" id="Rwanda" title="KIAC Rwanda"><b>KIAC - RWANDA</b><img src="http://res.cloudinary.com/dopbrlrts/image/upload/v1505468335/Rwanda_flag_animate_hvjptn.gif" width="20" height="10" border="0" ></a>
<a href="/signup?country_id=5" class="tablink" id="Uganda"  title="KIAC Uganda"><b>KIAC - UGANDA</b><img src="http://res.cloudinary.com/dopbrlrts/image/upload/v1505569113/Uganda_flag-XXL-anim_ashs0n.gif" width="20" height="10" border="0" alt=""></a>
<a href="/signup?country_id=8" class="tablink" id="Burundi" title="KIAC Burundi"><b>KIAC - BURUNDI</b><img src="http://res.cloudinary.com/dopbrlrts/image/upload/v1505468335/Burundi_flag_animation_vrdb7c.gif" width="20" height="10" border="0" alt=""></a>
<a href="/signup?country_id=7" class="tablink" id="Tanzania" title="KIAC Tanzania"><b>KIAC - TANZANIA</b><img src="http://res.cloudinary.com/dopbrlrts/image/upload/v1505468331/animated-tanzania-flag-image-0019_bkiq9r.gif" width="20" height="10" border="0" alt=""></a>
<a  href="/signup?country_id=6" class="tablink" id="DRC" title="KIAC DRC"><b>KIAC - DRC</b><img src="http://res.cloudinary.com/dopbrlrts/image/upload/v1505468334/drcFlagAnim1_bdxlhj.gif" width="20" height="10" border="0" alt=""></a>

  <% if @country && @country.name =="Rwanda"%>
      <%= render "rwanda_user" %>
  <% elsif @country %>
      <%= render "international_user" %>
  <% else%>
  <p>Please naviage through the above tab to choose any KIAC Country</p>
  <% end %>
</body>
</html> 
