/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


td, th {
  font-size: 17px;
}
 html, body {
  background-color: #325e7f;
  font-family: 'Bellefair', sans-serif;
  position: relative;
  height: 100%;
}

.thead {
  background-color: #123854;
  color: #bcbcbd;
}

.myNavbar {
  background-color: #123854;
  margin-bottom: 0px;
  font-size: 20px;
}

.nav-content-format {
  color: white;
}

.login-container{
  position: relative;
  width: 300px;
  margin: 80px auto;
  padding: 20px 40px 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
}

#output{
  position: absolute;
  width: 300px;
  top: -75px;
  left: 0;
  color: #fff;
}

#output.alert-success{
  background: rgb(25, 204, 25);
}

#output.alert-danger{
  background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
  content: "";
  position: absolute;
  width: 100%;height: 100%;
  top: 3.5px;left: 0;
  background: #fff;
  z-index: -1;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  border: 1px solid #ccc;

}

.login-container::after{
  top: 5px;
  z-index: -2;
  -webkit-transform: rotateZ(-2deg);
  -moz-transform: rotateZ(-2deg);
  -ms-transform: rotateZ(-2deg);

}

.imagelogo {
 
}

.avatar{
  
  width: 150px; height: 90px;
  margin: 10px auto 30px;
  border-radius: 100%;
  border: 2px solid #aaa;
  background-size: cover;
  background-image: url(https://9sbrqw-dm2306.files.1drv.com/y4mmyZiNwE0GNwhhOD2u4zy0w3wZRGy1vgf4Hn1tsk8Q_lXQCAiWVpPYjsuIY-a-1VziDLwRbOCfOuH7jUVwHhshfX2HlFGXQwOBrMfQ5Rj4ITMqAFmV5UjB--onMWUTV5LFn4BNM5U53Mr05aRtxqdIgrX5-f2NjFRzZC5YxxTXlWChnxm3IaLv4I379R5Ak5KCu2imUOYj0HFO3N95RgW7w?width=244&height=120&cropmode=none);
}

.form-box input{
  width: 100%;
  padding: 10px;
  text-align: center;
  height:40px;
  border: 1px solid #ccc;
  /*    background: #82E0AA;*/
  transition:0.2s ease-in-out;
  font-size: 18px;

}

.form-box input:focus{
  outline: 0;
  background: #eee;
}

.form-box input[type="text"]{
  border-radius: 5px 5px 0 0;
  text-transform: lowercase;
}

.form-box input[type="password"]{
  border-radius: 0 0 5px 5px;
  border-top: 0;
}

.form-box button.login{
  margin-top:15px;
  padding: 10px 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}



/*User profile*/

.flexible {
  width: 100%;
  height: auto;
}


.user-row {
  margin-bottom: 14px;
}

.user-row:last-child {
  margin-bottom: 0;
}

.dropdown-user {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
}

.approved{
  color:green;
  font-size: 20px;
}
.dropdown-user:hover {
  cursor: pointer;
}
.tabletable-user-information 

.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
  border-top: 0;
}


.table-user-information > tbody > tr > td {
  border-top: 0;
}
.toppad
{margin-top:20px;
}






.profile 
{
  min-height: 355px;
  display: inline-block;
}
figcaption.ratings
{
  margin-top:20px;
}
figcaption.ratings a
{
  color:#f1c40f;
  font-size:11px;
}
figcaption.ratings a:hover
{
  color:#f39c12;
  text-decoration:none;
}
.divider 
{
  border-top:1px solid rgba(0,0,0,0.1);
}
.emphasis 
{
  border-top: 4px solid transparent;
}
.emphasis:hover 
{
  border-top: 4px solid #1abc9c;
}
.emphasis h2
{
  margin-bottom:0;
}
span.tags 
{
  background: #1abc9c;
  border-radius: 2px;
  color: #f5f5f5;
  font-weight: bold;
  padding: 2px 4px;
}
.dropdown-menu 
{
  background-color: #34495e;    
  box-shadow: none;
  -webkit-box-shadow: none;
  width: 250px;
  margin-left: -125px;
  left: 50%;
}
.dropdown-menu .divider 
{
  background:none;    
}
.dropdown-menu>li>a
{
  color:#f5f5f5;
}
.dropup .dropdown-menu 
{
  margin-bottom:10px;
}
.dropup .dropdown-menu:before 
{
  content: "";
  border-top: 10px solid #34495e;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  z-index: 10;
}

#agentbox{
  background-color: white;
 
}
.LOGO {
  border-image-width: 300px;
  
  padding:1px;
  border:1px solid #021a40;
  background-color:#ff0;

}