// Place all the styles related to the designs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.application-box {
  
  background-color: #b6bcbc;
}
.application-input {
  margin-top: 10px;

}

.nav-content-format {
  color: white;
}

.application-header {
  color: #325e7f;
}

.btn-submit {
  background-color: #123854;
  color: white;
  width: 100%;
}

.info-box {
}


.select-form-input {
  width: 100%;
  margin-top: 10px;
}

.btn-grp-application {
  background-color: #123854;
  color: white;
}

.btn-register {
  background-color: #0b56a8; 
  color: white;
}

.btn-program {
  width: 30%;
  height: 200px;
  background-color: grey;
  color: white;
  border-radius: 50%;
  padding-top: 40px;
  margin-bottom: 10px;

}

/*admindashboard*/



.texto { background: #2d3b46 }
.alerta { background: #fff; padding: 10px 0px; text-align: center; color: #565656; font-size: 12px; }
.alerta span { color: #c9093c; font-size: 14px; font-weight: bold; }

.clientes .content-title {
  background: #9fc943;
}
.concorrentes .content-title {
  background: #ff454a;
}
.concorrentes .content-title img,
.clientes .content-title img {
  display: inline-block;
  padding: 0px 5px;
  margin-top: -5px;
}
.clientes .content-title span {
  color: #fff;
  margin: 0;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 100;
  display: inline-block;
  letter-spacing: 0.5px;
}
.concorrentes .content-title span {
  color: #fff;
  margin: 0;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 100;
  display: inline-block;

  letter-spacing: 0.5px;
}
.concorrentes,
.clientes {
  padding: 0;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
.concorrentes {
  margin-left: 20px;
}
.concorrentes .concorrentes-content .line,
.clientes .clientes-content .line {
  height: 5px;
}
.concorrentes .concorrentes-content .line-1 {
  height: 5px;
  width: 70%;
  background: #ff454a;
  float: left;
}
.clientes .clientes-content .line-1 {
  height: 5px;
  width: 70%;
  background: #9fc943;
  float: left;
}
.concorrentes .concorrentes-content .line-2,
.clientes .clientes-content .line-2 {
  height: 5px;
  width: 30%;
  background: #2b3b48;
  float: right;
}
.concorrentes .concorrentes-content .number,
.clientes .clientes-content .number {
  color: #6d767b;
  background-color: white;
  font-size: 18px;
  text-align: center;
  padding: 5px 0px;
}
.concorrentes .concorrentes-content .number span {
  color: #ff454a;
  font-size: 30px;
}
.clientes .clientes-content .number span {
  color: #9dc93e;
  font-size: 30px;
  box-sizing: 30px;
}
.concorrentes .concorrentes-content .analysis,
.clientes .clientes-content .analysis {
  padding: 15px 15px 10px;
  display: inline-block;
  width: 100%;
  background-color: white;
}
.concorrentes .concorrentes-content .analysis .quote,
.clientes .clientes-content .analysis .quote {
  color: #444444;
  float: left;
  background-color: white;
}
.concorrentes .concorrentes-content .analysis .see-more,
.clientes .clientes-content .analysis .see-more {
  width: 25%;
  color: #444444;
  float: right;
  background-color: white;
}
.concorrentes .concorrentes-content .analysis .see-more span,
.clientes .clientes-content .analysis .see-more span {
  padding: 0px 3px;
  top: 2px;
}

/*table*/

#admintable{
  margin-right: 400px;
  font-size: 17px;
  margin-top:40px;
  padding: 10px;
  background-color: white;
  width: 800px;
  height: auto;
  
}


tr:hover {
   background-color: #ffff99;
}
